*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgba(17, 17, 17, 0.959);
    display: flex;
    min-height: 139vh;
    flex-direction: column;
    margin: 0;
}

.header{
    background-color: blueviolet;
    width: 1000px;
    min-height: 6vh;
    margin: auto;
}

.my-cv{
    font-size: auto;
    font-weight: bold;
    padding: 4px 5px 3px;
    margin: auto;
}

.nav{
    width: 1000px;
    margin: auto;
    color: aliceblue;
    margin: auto;
}

.a{
    background-color: blue;
}

.t-nav{
    color: rgba(240, 248, 255, 0.781);
    text-decoration: none;
    font-size: 16px;
    padding: 4px 5px 2px;
}

.general-block{
    background-color: #bdc7cc;
    display: flex;
    width: 1000px;
    min-height: 100vh;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
}


.general-block > main > /*aside >*/ div{
    background-color: #bdc7cc;
    display: flex;
    width: 1000px;
    min-height: 100vh;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
}

/*.vertical-line{
    border-right: 3px solid black;
    padding: 5px;
    text-align: left;
    margin: 5px;
    height: auto;
} */

.column-one, .column-one > img, .column-one > div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 50px;
}

.my-photo{
    width: 337px;
    border: 4px solid black;
}

.name{
    color: black;
    font-weight: bold;
    font-size: 62px;
    margin: 0;
}

.WD{
    color: rgb(29, 28, 28);
    font-size: 29px;
}

.contacts{
    
}

.title-for-contacts{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

.p-e{
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin: 20px;
}

.title-for-messenger{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    display:inline-block;
}

.icon{
    width: 30px;
    display:inline-block;
}

.column-two{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    
}

.column-two > div, .column-two > div > p > ul{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 600px;
    justify-content: right;
}

.chapter{
    font-family: 'Nunito', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin: 20px;
}

.footer{
    background-color: red;
    width: 1000px;
    min-height: 20vh;
    margin: auto;
}

.footer > a > img{
    width: 170px;
}