*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgba(17, 17, 17, 0.959);
    display: flex;
    min-height: 139vh;
    flex-direction: column;
    margin: 0;
}

.header{
    background-color: blueviolet;
    width: 1000px;
    min-height: 6vh;
    margin: auto;
}

.my-cv{
    font-size: auto;
    font-weight: bold;
    padding: 4px 5px 3px;
    margin: auto;
}

.nav{
    width: 1000px;
    margin: auto;
    color: aliceblue;
    margin: auto;
}

.a{
    background-color: blue;
}

.t-nav{
    color: rgba(240, 248, 255, 0.781);
    text-decoration: none;
    font-size: 16px;
    padding: 4px 5px 2px;
}

.general-block{
    background-color: #bdc7cc;
    display: flex;
    width: 1000px;
    min-height: 100vh;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .general-block{
        flex-direction: row;
    }
}

.vertical-line{
    border-right: 3px solid black;
    padding: 5px;
    text-align: left;
    margin: 5px;
    height: auto;
}

.my-photo{
    width: 337px;
    border: 4px solid black;
}

.name{
    color: black;
    font-weight: bold;
    font-size: 72px;
}

.footer{
    background-color: red;
    width: 1000px;
    min-height: 20vh;
    margin: auto;
}

.footer > a > img{
    width: 170px;
}